

html, button, input, select, textarea {
  color: #000000;
}

body {
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #03A9FA;
  color: #03A9FA;
  text-shadow: none;
}

::selection {
  background: #0288D1;
  color: #ffffff;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ffffff;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
  vertical-align: middle;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   General styles
   ========================================================================== */

html, body {
  height: 100%;
}

body {
  font-family: "Lato";
  font-weight: 300;
  font-size: 16px;
  color: #000000;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

.col-md-4 {
  padding-bottom: 20px;
}

.row {
  margin-right: 0px;
  margin-left: -15px;
}

.modal-header {
  background: #03A9FA;
}

.modal-header h4 {
  color: #ffffff;
}

.modal-footer {
  background: #000000;
}

.navbar-default {
  border-color: transparent;
  background-color: #ffffff;
}

.navbar-toggle {
  border-color: transparent;
  border: 0px solid transparent;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  background-color: #03A9FA;
  color: #ffffff;
}

hr {
  position: relative;
  border: none;
}

hr:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 25%;
  width: 50%;
  height: 2px;
  background: #ffffff;
}

a img {
  background: #ffffff;
}

.odd a img {
  background: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway";
  font-weight: 300;
  color: #000000;
}

p {
  line-height: 28px;
  margin-bottom: 25px;
}

.centered {
  text-align: center;
}

.paragraph-lead {
  font-size: 20px;
  color: #03A9FA;
}

strong {
  font-weight: 700;
}

em {
  font-weight: 300;
}

pre {
  background: #ffffff;
  border: none;
  font-family: "Monaco";
  font-size: 16px;
  color: #000000;
  padding: 20px;
  line-height: 28px;
}

small {
  font-size: 12px;
}

blockquote, blockquote p {
  line-height: 28px;
  color: #000000;
  font-weight: 300;
  font-style: italic;
}

blockquote {
  position: relative;
  margin: 0 0 40px -30px;
  padding-left: 30px;
  border-left: 5px solid #03A9FA;
}

blockquote cite {
  position: absolute;
  bottom: -25px;
  right: 0;
  font-size: 12px;
  font-style: italic;
  color: #000000;
  font-weight: 300;
}

blockquote cite:before {
  content: "-- "
}

/* Images */

.overflow-image {
  margin-top: -65px;
}

/* Links */

a {
  color: #03A9FA;
  word-wrap: break-word;
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover, a:focus {
  color: #000000;
  text-decoration: none;
  outline: 0;
}

a:before, a:after {
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {
  background: url(../img/header_bg.jpg) no-repeat center top;
  margin-top: -50px;
  padding-top: 120px;
  text-align: center;
  background-attachment: relative;
  background-position: center center;
  min-height: 650px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#headerwrap h1 {
  color: #ffffff;
  margin-top: 90px;
  padding-bottom: 30px;
  letter-spacing: 8px;
  font-size: 100px;
  font-weight: bold;
  text-shadow: 2px 2px 2px #000000;
}

#headerwrap p {
  color: #ffffff;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  line-height: 40px;
  letter-spacing: 3px;
  margin-left: 15px;
  text-shadow: 1px 1px 1px #000000;
}

#greywrap {
  background: #03A9FA;
  margin-top: 0px;
  padding-top: 40px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

#greywrap .callout {
  margin-bottom: 20px;
}

#greywrap p {
  margin-left: 30px;
  margin-right: 30px;
  letter-spacing: 1px;
  padding-top: 15px;
  padding-bottom: 15px;
}

#greywrap .icon {
  font-size: 60px;
  line-height: 30px;
  margin-bottom: 10px;
}

#footerwrap {
  background: #000000;
  margin-top: 0px;
  padding-top: 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ffffff;
  text-align: center;
}

#footerwrap h4 {
  color: #ffffff;
}

/* ==========================================================================
   Box Sections
   ========================================================================== */

.white h1 {
  padding-top: 35px;
}

.white p {
  padding-top: 25px;
}

/* Section Dividers */

.section-divider {
  z-index: 999;
  width: 100%;
  display: table;
  max-height: 450px;
  border-bottom: 2px solid #ffffff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 30px;
  padding-bottom: 70px;
  margin-top: 45px;
  background-position: center center;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: relative;
  text-align: center;
}

.textdivider h1 {
  padding-top: 70px;
  color: #ffffff;
  font-size: 40px;
}

.textdivider p {
  color: #ffffff;
  font-size: 25px;
}

.divider1 {
  background-image: url('../img/bg/divider1.jpg')
}

.divider2 {
  background-image: url('../img/bg/divider2.jpg')
}

.divider3 {
  background-image: url('../img/bg/divider3.jpg');
  margin-top: 0px;
}

.divider4 {
  background-image: url('../img/bg/divider4.jpg')
}

.divider6 {
  background-image: url('../img/bg/divider6.jpg')
}

/* ==========================================================================
   Services Section
   ========================================================================== */

.service-trigger {
  display: block;
  position: relative;
  margin-bottom: 15px;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  height: 168px;
  cursor: pointer;
  padding: 90px 20px 50px 20px;
  border: none;
  background: #000000;
}

.service-trigger:before {
  width: 100%;
  top: 50px;
  color: #03A9FA;
  font-size: 36px;
  text-align: center;
  position: absolute;
  left: 0;
}

.service-active .service-trigger {
  background: #000000;
}

.service-active p {
  font-family: 'Lato', sans-serif;
  padding-top: 10px;
}

.service-content {
  padding: 15px 20px;
  background: #ffffff;
  display: block;
  height: auto
}

.service-content p:last-child {
  margin: 0;
}

.grid figure {
  margin: 0;
  position: relative;
  font-family: 'segment7standard';
  font-size: 5em;
}

.grid figure img {
  width: 100%;
  display: block;
  position: relative;
}

.grid figcaption {
  position: absolute;
  top: 0;
  left: 0;
  padding: 120px;
  color: #fff;
  background: #03A9FA;
}

.grid figcaption h5 {
  margin: 0;
  padding-top: 0px;
  padding-left: 0px;
  padding-bottom: 5px;
  color: #ffffff;
  font-weight: 700;
  text-align: left;
  letter-spacing: 2px;
}

.grid figcaption a {
  text-align: left;
  padding: 5px 10px;
  margin-left: 20px;
  display: inline-block;
  background: #000000;
  color: #ffffff;
  font-size: 13px;
}

/* Caption Style */

.mask figure {
  overflow: hidden;
}

.mask figure img {
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
}

.mask figure:hover img, .mask figure.cs-hover img {
  -webkit-transform: translateY(-30px);
  -moz-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  transform: translateY(-30px);
}

.mask figcaption {
  height: 50px;
  width: 100%;
  top: auto;
  bottom: 0;
  opacity: 0;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
  -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
  transition: transform 0.4s, opacity 0.1s 0.3s;
}

.mask figure:hover figcaption, .mask figure.cs-hover figcaption {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
  -moz-transition: -moz-transform 0.4s, opacity 0.1s;
  transition: transform 0.4s, opacity 0.1s;
}

.mask figcaption a {
  position: absolute;
  top: 10px;
  bottom: 10px;
  right: 30px;
}

/* ==========================================================================
   Blog Section
   ========================================================================== */

.blog-bg {
  background: #000000;
  padding-right: 0px;
  padding-left: 0px;
}

.blog-bg h4 {
  color: #ffffff;
  padding-top: 0px;
}

.blog-bg h5 {
  color: #ffffff;
  font-size: 11px;
}

.blog-content {
  padding-top: 10px;
  background: #ffffff;
}

/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

@media screen and (max-width:1050px), screen and (max-device-width:1050px) {
  body .header {
    background-attachment: scroll;
  }
}

/*ipad portrait*/

@media only screen and (min-device-width:768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .header {
    background-attachment: scroll;
  }
}

@media screen and (max-width:769px) {
  #headerwrap h1 {
    font-size: 80px;
  }
  #headerwrap p {
    font-size: 30px;
    line-height: 38px;
  }
}

/* Contact Form */

#contact {
  padding: 40px 0;
}

.contact-form {}

.contact-form label {
  color: #000000;
}

.contact-form input, .contact-form textarea {
  padding: 10px 12px;
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  height: auto;
}

.contact-form .form-send {
  text-align: center;
}

.contact-form .form-send button {
  background: #03A9FA;
  border: 0;
  padding: 10px 30px;
  color: #ffffff;
  transition: 0.4s;
  cursor: pointer;
}

.contact-form .form-send button:hover {
  background: #03A9FA;
}

.contact-form .validate {
  display: none;
  color: #ffffff;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact-form .loading {
  display: none;
  color: #000000;
  background: #ffffff;
  text-align: center;
  padding: 15px;
  margin: 15px 0;
}

.contact-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 3px solid #ffffff;
  border-top-color: #ffffff;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

@-webkit-keyframes animate-loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.contact-form .error-message {
  display: none;
  color: #fff;
  background: #000000;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin: 15px 0;
}

.contact-form .sent-message {
  display: none;
  color: #fff;
  background: #000000;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin: 15px 0;
}

/* Copyrights */

#copyrights {
  background: #222222;
  padding: 20px 0;
  text-align: center;
}

#copyrights p {
  margin-bottom: 5px;
  color: #ffffff;
}

#copyrights a {
  color: #03A9FA;
}

.credits {
  color: #ffffff;
}

.container2{
  width: 300px;
  background-color: #ffffff;

  display: block;
  margin: 0 auto;

  border-radius: 10px;
  padding-bottom : 50px;
}

.container3{
  width: 700px;
  background-color: #ffffff;

  display: block;
  margin: 0 auto;

  border-radius: 10px;
  padding-bottom : 50px;
}

.navfix{
  padding-left : 25%;
}


.app-title{
  width: 300px;
  height: 50px;
  border-radius: 10px 10px 0 0;
}

.app-title p{
  text-align: center;
  padding: 15px;
  margin: 0 auto;
  font-size: 1.2em;
  color: #000000;
}

.notification{
  background-color: #ffffff;
  display: none;
}

.notification p{
  color: #03A9FA;
  font-size: 1.2em;
  margin: 0;
  text-align: center;
  padding: 10px 0;
}

.weather-container{
  width: 300px;
  height: 260px;
  background-color: #ffffff;
}

.weather-icon{
  width: 300px;
  height: 128px;
}

.weather-icon img{
  display: block;
  margin: 0 auto;
}

.temperature-value{
  width: 300px;
  height:60px;
}

.temperature-value p{
  padding: 0;
  margin: 0;
  color: #000000;
  font-size: 4em;
  text-align: center;
  cursor: pointer;
}

.temperature-value p:hover{

}

.temperature-value span{
  color: #000000;
  font-size: 0.5em;
}

.temperature-description{

}

.temperature-description p{
  padding: 8px;
  margin: 0;
  color: #000000;
  text-align: center;
  font-size: 2em;
}

.location{

}

.location p{
  margin: 0;
  padding: 0;
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 1.2em;
}

.nameT{
  padding: 0;
  margin: 0;
  color: #000000;
  font-size: 2em;
  text-align: center;
  cursor: pointer;
}

.brand{
  padding: 0;
  margin: 0;
  color: #000000;
  font-size: 2em;
  text-align: center;
  cursor: pointer;
}

.street{
  padding: 0;
  margin: 0;
  color: #000000;
  font-size: 2em;
  text-align: center;
  cursor: pointer;
}

.brand{
  padding: 0;
  margin: 0;
  color: #000000;
  font-size: 2em;
  text-align: center;
  cursor: pointer;
}

.place{
  padding: 0;
  margin: 0;
  color: #000000;
  font-size: 2em;
  text-align: center;
  cursor: pointer;
}

.dist{
  padding: 0;
  margin: 0;
  color: #000000;
  font-size: 2em;
  text-align: center;
  cursor: pointer;
}

.anz{
  background-color: #03A9FA;
  background-image: url('../img/Anzeigetafel.png')

}

.anzeigetafel{
  position: absolute;
  top: 41%;
  left: 15%;
  font-size: 4em;
  color: white;
  font-family: 'segment7standard';

}

.diesel{
  transform: translate(-40%,-40%);
}

.e5{
  transform: translate(-40%,-40%);
}

.e10{
  transform: translate(-40%,-40%);
}

.sprit{
  background-color: #000000;
  font-family: "Arial";
  position: center;
}

.isOpen{
  padding: 0;
  margin: 0;
  color: #000000;
  font-size: 2em;
  text-align: center;
  cursor: pointer;
}

.houseNumber{
  padding: 0;
  margin: 0;
  color: #000000;
  font-size: 2em;
  text-align: center;
  cursor: pointer;
}

.postCode{
  padding: 0;
  margin: 0;
  color: #000000;
  font-size: 2em;
  text-align: center;
  cursor: pointer;
}

input[type="text"] {
  width: 100%;
  width-left: 10px;
  border: 2px solid #aaa;
  border-radius: 10px;
  margin: 8px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.3s;
}

input[type="text"]:focus {
  border-color: dodgerBlue;
  box-shadow: 0 0 8px 0 dodgerBlue;
}

.inputWithIcon input[type="text"] {
  padding-left: 40px;
}

.inputWithIcon {
  position: relative;
}

.inputWithIcon i {
  position: absolute;
  left: 0;
  top: 8px;
  padding: 9px 8px;
  color: #aaa;
  transition: 0.3s;
}

.inputWithIcon input[type="text"]:focus + i {
  color: dodgerBlue;
}

.inputWithIcon.inputIconBg i {
  background-color: #aaa;
  color: #fff;
  padding: 9px 4px;
  border-radius: 4px 0 0 4px;
}

.inputWithIcon.inputIconBg input[type="text"]:focus + i {
  color: #fff;
  background-color: dodgerBlue;
}

.btn{

}